
//color pallette
//bird

//lizard

//spiral

//colors applied


//sizing and spacing

$border-radius: 7px;
$header-height: 70px;
$hero-height: calc(100vh - #{$header-height});
$padding-single: .7em;
$padding-double: calc(#{$padding-single} * 2);
