
//color pallette


//colors applied


//sizing and spacing

$border-radius: 7px;
$blurb-height: 20vh;
$header-height: 70px;
$hero-height: calc(100vh - #{$header-height});
$padding-single: .5em;
$padding-double: calc(#{$padding-single} * 2);
