
//color pallette
//bird
$yellow: #feea8d;
$turquiose: #53c3c8;
$orange: #c37836;
$grey: #5d5951;

//lizard

//spiral

//sizing and spacing
$border-radius: 7px;
$header-height: 70px;
$hero-height: calc(100vh - #{$header-height});
$padding-single: .7em;
$padding-double: calc(#{$padding-single} * 2);
