// KEYFRAMES
@keyframes colorFade {
  0% {
    color: #5d5951;//grey
  }
  25% {
    color: #c37836;//orange
  }
  50% {
    color: #feea8d;//yellow
  }
  75% {
    color: #c37836;//orange
  }
  100% {
    color: #5d5951;//grey
  }
}
.about {
  width: 443px;
  height: 149px;
  margin-right: 5px; // use spacing variable
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  span {
    animation: colorFade 30s ease-in infinite;
    text-align: center;
  }
  .moto {
    text-align: center;
    //effects
    span {
      animation: colorFade 30s ease-in infinite;
    }
  }
}
.terminal {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 2px;
  //these colors are only used here
  color: #39dcdc; //teal
  background-color: #000000a1; //black transparent
  border-top: solid 17px #b5b3b3; //apple grey
}

@media screen and (max-width:600px){
  .about {
    display:none;
  }
}
