.header {
  height: 80px;
  width: 100%;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  // color and effects
  background-color: #53c3c8; //bird colorscheme
  

  ul {
    list-style: none;
    padding-right: 5px;
    li {
      display:inline;
      text-align: right;
      margin-left: 20px;
      color: #5d5951;
      //efffects
    }
  }
}
