.terminal {
  display: flex;
  flex-direction: column;
  color: #39dcdc; //teal
  background-color: #000000a1; //black transparent
  border-top: solid 17px #b5b3b3; //apple grey
  border-radius: 5px;
  padding: 2px;
}
